:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

}

@font-face {
    font-family: Hanken-Grotesk;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Hanken-Grotesk;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100%;
}

aside {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside>p {
    color: var(--Light-lavender);
    text-align: center;
    font-size: 18px;
}

aside div {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    margin: 20px 0;
}

aside div p {
    color: var(--Light-lavender);
}

aside h1 {
    color: var(--White);
    font-size: 55px;
}

aside h4 {
    color: var(--White);
    font-size: 25px;
    margin-bottom: 15px;
}

aside>p:last-child {
    color: var(--Light-lavender);
    width: 70%;
    font-size: 16px;
}

article {
    padding: 30px;
    background-color: ;
}

article h2 {
    font-size: 20px;
    color: var(--Dark-gray-blue);
}

.score {
    margin-top: 20px;
    width: 100%;
    background-color: lightblue;
    border-radius: 5px;
    padding: 16px;
    display: flex;
}

.score:nth-child(2) {
    background-color: hsla(0, 100%, 67%, 15%);
    color: var(--Light-red);
}

.score:nth-child(3) {
    background-color: hsla(39, 100%, 56%, 15%);
    color: var(--Orangey-yellow);
}

.score:nth-child(4) {
    background-color: hsla(166, 100%, 37%, 15%);
    color: var(--Green-teal);
}

.score:nth-child(5) {
    background-color: hsla(234, 85%, 45%, 15%);
    color: var(--Cobalt-blue);
}

.test,
.value {
    width: 47%;
    font-size: 18px;
    font-weight: 800;
}

.value {
    text-align: right;
    color: var(--Dark-gray-blue);
}

.value span {
    color: var(--Light-lavender);
    font-weight: 600;
}

article button {
    width: 100%;
    margin-top: 17px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: var(--Dark-gray-blue);
    color: var(--Pale-blue);
    font-size: 18px;
}

article button:hover {
    background-color: var(--Light-royal-blue-background);
}

.image {
    width: 30px;
    height: 30px;
}



@media (min-width: 960px) {

 body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
 }

    main {
        display: flex;
        width: auto;
        height: auto;
        margin-bottom: 5px;
        

        
    }

    aside {
        width: 50%;
        border-radius: 15px;
    }
}

article {
    width: 50%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 2px 10px grey;
    
}



.score {
    padding: 10px;
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}